@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#mobile-nav.forward{
  -webkit-animation: forward .3s linear forwards; /* Safari */
  animation: forward .3s linear forwards;
}


#mobile-nav.backward{
  -webkit-animation: backward .3s linear forwards; /* Safari */
  animation: backward .3s linear forwards;
}

/* Safari */
@-webkit-keyframes forward {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
  }
  
  @keyframes forward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
  }
  
  /* Safari */
  @-webkit-keyframes backward {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
  }
  
  @keyframes backward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  }
  
